<!-- GC -->

<!-- <x-compile> -->

<!-- <x-bootstrap> -->
<script type="text/javascript" src="/static/portal/shared/include-ext.js"></script>
<script type="text/javascript" src="/static/portal/shared/options-toolbar.js"></script>
<!-- </x-bootstrap> -->

<!-- shared example code -->
<script type="text/javascript" src="/static/portal/shared/examples.js"></script>

<script type="text/javascript">
    Ext.Loader.setPath('Ext.app', '/static/portal/classes');
</script>
{#<script type="text/javascript" src="/static/portal/js/portal.js"></script>#}
<script type="text/javascript" src="/static/ext-my-component.js"></script>
<script type="text/javascript" src="/static/locale/ext-lang-zh_CN.js"></script>
